# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
.env/
venv/
.venv/

# Ignore main env file
.env

# OS-specific
.DS_Store
.data 
.db
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
.env/
venv/
.venv/

# Ignore main env file
.env

# OS-specific
.DS_Store
Thumbs.db
osint_data.db